*, html {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --light: #fafafa;
  --dark: #222;
  --border: 1px solid #ccc;
  --shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

header {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-bottom: var(--border);
}

body {
  background-color: var(--light);
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
}

.card {
  min-width: 200px;
  max-width: 400px;
  padding: 1rem;
  border: var(--border);
  border-radius: 5px;
  margin: 1rem;
  background-color: var(--white);
}

[data-animate] {
  opacity: 0;
  transition: 1000ms;
}

[data-animate="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-animate="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-animate="bottom"] {
  transform: translate3d(0, -50px, 0);
}

[data-animate].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0)
  }
  20%, 60% {
    transform: rotate(-25deg)
  }
  40%, 80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}